[Desktop Entry]
Name=DeskGPT
Exec=deskgpt %U
TryExec=deskgpt
Terminal=false
Type=Application
Icon=deskgpt
StartupWMClass=deskgpt
Comment=Optimized DeskGPT for OpenAI ChatGPT.
Categories=Utility;
