[Desktop Entry]
Name=DeskGPT Fork
Exec=deskgpt %U
TryExec=deskgpt
Terminal=false
Type=Application
Icon=deskgpt
StartupWMClass=deskgpt
Comment=Optimized DeskGPT fork for OpenAI ChatGPT.
Categories=Utility;
